main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 0 20px 100px 20px;
}

.brown-background {
  background-color: #775f47;
  margin-left: 0;
  padding: 10px 20px;
}

@media all and (max-width: 800px) {
  .brown-background {
    width: 400px;
  }
}

@media all and (min-width: 800px) {
  img {
    width: 100%;
  }

  .group {
    flex-direction: row;
  }

  .item {
    flex: 1;
    margin-right: 10px;
  }

  .item-double {
    flex: 2;
  }

  .end-of-row {
    margin-right: 0;
  }

  .bottom-of-page {
    margin-bottom: 0;
  }

  .brown-background {
    margin-right: 0;
  }

  #bottom-of-page img {
    height: 100%;
  }
}
